{% extends 'base.html.twig' %}

{% block title %}
- Nos Timelines
{% endblock %}

{% block body %}
{% for timeline in timelines %}
<div class="col-md-8 mx-auto timeline-index my-5">
    <div class="card timeline-card" style="max-width: 100%">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{timeline.thumbnail}}" class="card-img" alt="..." height="180px" />
            </div>
            <div class="col-md-6 card-content">
                <div class="card-body py-2">
                    <h5 class="card-title text-uppercase">
                        {{timeline.title}}
                    </h5>
                    <p class="card-text">
                        {{timeline.startDate}} - {{timeline.endDate}}
                    </p>
                    <p class="card-text card-description">
                        {{timeline.description|slice(0, 160)}} ...
                    </p>
                    <p class="card-text text-right">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="col-md-2 p-0 text-center m-0 categories">
                <a href="" class="categories-theme hvr-bubble-float-left">{#{{timeline.categories.themes}}#}Categories
                </a>
                <a href="" class="categories-event hvr-bubble-float-left">Guerre
                </a>
                <a href="" class="categories-siecle hvr-bubble-float-left">XIXième siècle
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 row card-bottom m-0 p-0">
        <div class="col-md-4 row notation text-center mx-0 px-5">
            <p class="m-0">Notation :</p>
            <div class="stars mx-auto">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
        </div>
        <a href="{{path('timeline_show')}}" class="col-md-6 text-center m-0 timeline-link hvr-sweep-to-right">Voire la
            Timeline</a>

    </div>
</div>

{% endfor %}

<div class="d-flex justify-content-center py-5">
    <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{path('timelines', {'page': page - 1} )}}">&laquo;</a>
        </li>
        {% for i in 1..pages %}
        <li class="page-item {% if page == i %}active{% endif %}">
            <a class="page-link" href="{{ path('timelines', {'page': i}) }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{path('timelines', {'page': page + 1} )}}">&raquo;</a>
        </li>
    </ul>
</div>
{% endblock %}